.footer__column-link{
line-height: 18px;
font-size: 18px;
font-weight: 400;
padding-bottom: 10px;
color:white;
text-decoration: none;
}

.footer__column-link:hover{
 opacity: 0.5;
 transition: ease;
}

.footer__column-link:last-of-type{
  padding-bottom: 16px;
}
